footer.footer
	.col-md-5
		
		//нижнее меню
		nav.footer__menu
			ul
				li: a.footer__menu--vk(href="#")
				li: a.footer__menu--fb(href="#")
				li: a.footer__menu--twitter(href="#")
				li: a.footer__menu--odnoklassniki(href="#")
				li: a.footer__menu--google(href="#")
		
		//подменю
		.footer__submenu
			a(href="#") О проекте
			a(href="#") Размещение рекламы
	
	//копирайт
	.col-md-2.col-md-offset-5.footer__copyright
		p.footer__copyright-text Создание сайта:
		a.footer__copyright-logo(href="#"): img(src="../img/logo-artbrother.png" alt="")