-var breadCrumbs = ["Главная","Логотипы","Новость"]


header.header
	//хлебные крошки
	nav
		ul.head__breadcrumb
			each item in breadCrumbs
				li: a(href="#") #{item}

	+nav ([{
		name: 'Главная',
		href: '/'
	}, {
		name: '111',
		href: '/11'
	}])